{% extends 'base.html' %}

{% block content %}
  {% for trial in trials %}
    <article class="post">
      <header>
        <div>
          <h1>{{ trial['name'] }}</h1>
          <div class="about"> on {{ trial['created_at'] }}</div>
        </div>

          <a class="action" href="{{ url_for('sessions.show_videos', trial_name = trial['name']) }}">Inspect</a>

      </header>
      <p class="body">{{ trial['status'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}